.cell {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0;
  border: 1px solid black;
  vertical-align: top;
  position: relative;
  color: black;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding-top: 4px;
  user-select: none;
  &.isFocusedWord {
    background-color: lightblue;
  }
  &.isFocusedCell {
    background-color: lightyellow;
  }
}

.number {
  position: absolute;
  font-size: 9px;
  top: 0;
  left: 1px;
}
