.cell {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0;
  border: 1px solid black;
  vertical-align: top;
  position: relative;
  &.isFocusedWord {
    background-color: blue;
  }
  &.isFocusedCell {
    background-color: yellow;
  }
}

.number {
  position: absolute;
  font-size: 9px;
  top: 0;
  left: 0;
}
